@font-face {
  font-family: 'DMSans-400italic';
  src: url('../fonts/dmsans-italic-webfont.woff2') format('woff2'),
    url('../fonts/dmsans-italic-webfont.woff') format('woff');
}
@font-face {
  font-family: 'DMSans-400';
  src: url('../fonts/dmsans-regular.woff2') format('woff2'),
    url('../fonts/dmsans-regular.woff') format('woff');
}
@font-face {
  font-family: 'DMSans-500';
  src: url('../fonts/dmsans-medium.woff2') format('woff2'),
    url('../fonts/dmsans-medium.woff') format('woff');
}
@font-face {
  font-family: 'DMSans-700';
  src: url('../fonts/dmsans-bold.woff2') format('woff2'),
    url('../fonts/dmsans-bold.woff') format('woff');
}

html,
body {
  font-family: 'DMSans-400';
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  color: $black;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
fieldset {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
button {
  margin: 0;
  padding: 0;
}
svg {
  display: block;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  @include breakpoint(tab) {
    padding: 0 32px;
  }
  @include breakpoint(des) {
    padding: 0 24px;
    max-width: 1392px;
  }
}
