%link {
  text-decoration: none;
}
%list-style {
  list-style: none;
  padding: 0;
  margin: 0;
}
%basic-btn {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  border: none;
  border-radius: 10px;
}
%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
