$white: #fff;
$yellow: #eac645;
$blue: #4f2ee8;
$black: #111111;
$gray: #202024;
$almost-gray: #b4afaf;
$sing-up: rgb(204, 236, 231);

$background: #f6f6f6;
$timeForAnim: 3500ms;

$time: 250ms;
$time-distribution: cubic-bezier(0.4, 0, 0.2, 1);
