<div class="backdrop" style="display: none">
  <div class="modal-window">
    <button class="close-icon-button">
      <svg class="close-icon">
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="modal-window-content-align">
      <img
        src="./images/png/home/Icon.png"
        alt="Book photo"
        class="book-image"
      />
      <div class="book-content-align">
        <h5 class="book-name">HELLO BEAUTIFUL</h5>
        <span class="book-author">Ann Napolitano</span>
        <span class="book-description"
          >In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark
          past resurfaces as he gets to the know the family of his college
          sweetheart.</span
        >
        <div class="logo-align">
          <a href=""
            ><img
              src="./images/png/modal-book/amazon.png"
              srcset="
                ./images/png/modal-book/amazon.png    1x,
                ./images/png/modal-book/amazon@2x.png 2x
              "
              alt="amazon logo"
              class="logo amazon-logo"
              width="62"
              height="19"
          /></a>
          <a href="">
            <img
              src="./images/png/modal-book/book.png"
              srcset="
                ./images/png/modal-book/book.png    1x,
                ./images/png/modal-book/book@2x.png 2x
              "
              alt="book logo"
              class="logo"
              width="33"
              height="32" /></a
          ><a href="">
            <img
              src="./images/png/modal-book/book-shop.png"
              srcset="
                ./images/png/modal-book/book-shop.png    1x,
                ./images/png/modal-book/book-shop@2x.png 2x
              "
              alt="book shop logo"
              class="logo"
              width="38"
              height="36"
          /></a>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button class="add-book-button" style="display: block">
        Add to shopping list
      </button>
      <div class="remove-book-container">
        <button class="remove-book-button">
          Remove from the shopping list
        </button>
        <span class="remove-book-text"
          >Сongratulations! You have added the book to the shopping list. To
          delete, press the button “Remove from the shopping list”.</span
        >
      </div>
    </div>
  </div>
</div>
