<div class="sign-up">
  <div class="sign-up__modal">
    <button class="sign-up__cross" type="button">
      <svg>
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <form>
      <lebel>
        <input
          type="name"
          placeholder="name"
          name="user_name"
          required
          pattern="^[a-zA-Z]+$"
        />
      </lebel>
      <lebel>
        <input
          type="email"
          placeholder="email"
          name="user_email"
          required
          title="your@mail.com"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        />
        <svg class="sign-up__email">
          <use href="./images/icons.svg#icon-email"></use>
        </svg>
      </lebel>
      <lebel>
        <input
          type="password"
          placeholder="password"
          name="user_password"
          minlength="5"
          maxlength="12"
          required
        />
        <svg class="sign-up__lock">
          <use href="./images/icons.svg#icon-lock"></use>
        </svg>
      </lebel>
      <button type="submit" disabled>sign up</button>
    </form>
    <form class="sign-up-hidden">
      <lebel>
        <input
          type="email"
          placeholder="email"
          name="user_email"
          required
          title="your@mail.com"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        />
        <svg class="sign-up__email">
          <use href="./images/icons.svg#icon-email"></use>
        </svg>
      </lebel>
      <lebel>
        <input
          type="password"
          placeholder="password"
          name="user_password"
          minlength="5"
          maxlength="12"
          required
        />
        <svg class="sign-up__lock">
          <use href="./images/icons.svg#icon-lock"></use>
        </svg>
      </lebel>
      <button type="submit" disabled>sign up</button>
    </form>
    <div class="sign-up__links">
      <button type="button">sign up</button>
      <button type="button">sign in</button>
    </div>
  </div>
</div>
