<section class="support">
  <div class="wrapper">
    <h2 class="support__title">Support Ukraine</h2>
    <svg class="support__emblem" width="20" height="32">
      <use href="/src/images/icons.svg#"></use>
    </svg>
  </div>
  <div class="slider swiper">
    <ul class="support__list swiper-wrapper"></ul>
  </div>
  <button class="support__btn swiper-button-next" type="button">
    <svg class="support__btn-icon" width="20" height="20">
      <use href="/src/images/icons.svg#icon-smoll-arrow"></use>
    </svg>
  </button>
</section>
