ul {
    list-style: none;
    margin: 0;
    padding: 0;
};

li {
    padding: 0;
}

a {
    color: inherit;
    cursor: pointer;
};

body.dark {
    background-color: $gray;
}

.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 0px;
    gap: 8px;

    font-family: DMSans-500;
    font-size: 18px;

    width: 109px;

    & > svg {
        width: 24px;
        height: 24px;
    }

    @include breakpoint(tab-header) {
        padding: 23px 0px;
    }

    @include breakpoint(des) {
        padding: 22.5px 0px;
    }
};

.page-nav {
    position: relative;
    z-index: 20;

    background-color: $white;
    border: 1.5px solid $black;
    border-radius: 0px 0px 8px 8px;

    letter-spacing: -0.04em;
    height: 64px;

    &.dark {
        background-color: $black;
        border-color: $white;
        color: $white;
    }

    @include breakpoint(tab-header) {
        height: 72px;
    }

    @include breakpoint(des) {
        height: 72px;
    }
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    padding: 0 20px;

    @include breakpoint(tab) {
        padding: 0 32px;
    }

    @include breakpoint(des) {
        padding: 0 24px;
        max-width: 1440px;
    }
}

.menu__main {
    display: none;
    
    margin-left: 40px;
    align-items: center;
    gap: 16px;

    font-weight: 500;
    text-transform: uppercase;

    color: currentColor;
    transition: opacity $time $time-distribution, visibility $time $time-distribution;

    & > li {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    & > use {
        stroke: black;
        width: 13.33px;
        height: 16.67px;
    }

    & :hover {
        color: $blue;
    }

    @include breakpoint(tab-header) {
        display: flex;
    }

    @include breakpoint(des) {
        display: flex;
        margin-left: 76px;
        gap: 24px;
    }
}

.menu__shopping {
    display: flex;
    gap: 4px;
    align-items: center;
}

.icon-cart {
    fill: currentColor;
}

.current-page {
    font-weight: 700;
    background: $yellow;
    border-radius: 36px;
    padding: 8px 16px;
    color: $black;
}

// Light/Dark Mode switcher

.toggle {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
};

.switch {
    height: 0;
    width: 0;
    opacity: 0;
};

.slider__theme-switcher {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 20px;

    background-image: linear-gradient(180deg, $blue 0%, #dcdcdc 100%);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    transition: $time;
};

.slider__theme-switcher::before {
    content: "";
    position: absolute;
    cursor: pointer;
    left: 1px;
    bottom: 1px;
    height: 18px;
    width: 18px;
    border-radius: 50%;

    background-image: linear-gradient(180deg, $white 0%, #F7F7F7 100%);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 1px 2px 4px rgba(0, 0, 0, 0.1);
    transition: $time;
};

.switch:checked + .slider__theme-switcher {
    background-image: linear-gradient(180deg, $blue 0%, #686868 100%);
};

.switch:checked + .slider__theme-switcher::before {
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
};


.header-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin-left: auto;

    @include breakpoint(tab-header) {
        gap: 25px;
    }

    @include breakpoint(des) {
        gap: 25px;
    }
};

.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    cursor: pointer;
    border: none;

    fill: currentColor;
    
    & :hover,
    :focus {
        fill: $blue;
    }

    @include breakpoint(tab-header) {
        display: none;
    }

    @include breakpoint(des) {
        display: none;
    }
};

//  Кнопка  "sign-up"

.auth__modal-open {
    display: none;

    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 124px;
    height: 48px;
    background-color: $blue;
    border: 1.5px solid $black;
    border-radius: 18px;
    color: $white;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    transition: opacity $time $time-distribution, visibility $time $time-distribution;

    @include breakpoint(tab-header) {
        display: flex;
    }

    @include breakpoint(des) {
        display: flex;
        gap: 90px;
        width: 184px;
    }

    & > img {
        margin: 0;
    }

    & :hover,
    :focus {
        color: $blue;
    }
}

// Модальне вікно меню

.modal-mobile-menu.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: none;
}

.modal-mobile-menu {
    position: absolute;

    top: 0px;
    left: 0px;

    width: 100%;
    height: 100vh;

    overflow: hidden;

    padding: 20px;

    z-index: 10;

    background-image: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
    transition: opacity 150ms linear, visibility 150ms linear;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

// Мобільне дроп меню
.drop-menu {
    position: relative;
    z-index: 7;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    padding-top: 40%;

    font-weight: 500;
    text-transform: uppercase;

    color: $white;
    transition: opacity $time, visibility $time;

    & .is-hidden {
        display: none;
    }
}

.drop-menu__home,
.drop-menu__shopping {
    border-radius: 36px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.drop-menu__home:hover,
.drop-menu__home:focus,
.drop-menu__shopping:hover,
.drop-menu__shopping:focus {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
}

//  Кнопка  Sing up
.drop-sign-up-btn {
    position: absolute;

    cursor: pointer;

    left: 20px;
    bottom: 15%;

    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 118px;
    height: 48px;
    background-color: $white;
    border: 1.5px solid $black;
    border-radius: 18px;
    color: $black;
    font-weight: 500;

    & > img {
        margin: 0;
    }

    &:hover {
        color: $blue;
    }

    & .is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        display: none;
    }
}

// Книги
.modal__books-list {
    position: absolute;
    top: 60%;
    right: -10%;

    z-index: 5;

    width: 130%;
    transform: rotate(-15deg);
}