.home {
}
.home__title {
  font-family: 'DMSans-700';
  font-size: 32px;
  // color: $blue;
  margin-bottom: 40px;
  // & > span {
  //   color: $black;
  // }
}
.home__items {
  @extend %list-style;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-bottom: 50px;
}

.home__item {
  max-width: 335px;
  & > p {
    color: $almost-gray;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 18px;
  }
  & > ul {
    @extend %list-style;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 8px;
    width: 100%;
    & > li {
      width: 100%;
      & > div {
        cursor: pointer;
        margin-bottom: 14px;
        overflow: hidden;
        border-radius: 8px;
        position: relative;
        & > img {
          border-radius: 8px;
          object-fit: cover;
          object-position: center;
          width: 335px;
        }
        & > button {
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: $yellow;
          height: 27%;
          width: 100%;
          border: none;
          cursor: pointer;
          font-family: 'DMSans-500';
          text-transform: uppercase;
          transform: translateY(100%);
          transition: transform $time $time-distribution,
            background $time $time-distribution;
        }
        &:hover,
        &:focus {
          & > button {
            transform: translateY(0%);
            &:active {
              background-color: $almost-gray;
            }
          }
        }
      }
      & > h2 {
        font-size: 16px;
        margin-bottom: 4px;
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      & > span {
        display: block;
        font-family: 'DMSans-400italic';
        font-size: 12px;
        line-height: 1.16;
        color: $almost-gray;
      }
    }
    & > li:not(:first-child) {
      display: none;
    }
  }
  & > button {
    cursor: pointer;
    display: block;
    margin-left: auto;
    font-family: 'DMSans-700';
    background-color: transparent;
    text-transform: uppercase;
    padding: 14px 28px;
    border: 2px solid $blue;
    border-radius: 40px;
    transition: color $time $time-distribution,
      background $time $time-distribution;
    &:hover,
    &:focus {
      color: $white;
      background-color: $blue;
    }
  }
  @include breakpoint(tab) {
    max-width: 100%;
    & > ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 20px;
      & li:nth-child(-n + 3) {
        display: block;
        width: 218px;
        & > div {
          & > img {
            width: 218px;
            height: 316px;
          }
        }
      }
    }
  }
  @include breakpoint(des) {
    max-width: 100%;
    & > ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 32px;
      & > li:nth-child(-n + 5) {
        display: block;
        width: 180px;
        & > div {
          & > img {
            width: 180px;
            height: 265px;
          }
        }
      }
    }
  }
}
