.home {
  transition: background $time $time-distribution,
    border $time $time-distribution, color $time $time-distribution;
}
.home__title {
  font-family: 'DMSans-700';
  font-size: 32px;
  color: inherit;
  margin-bottom: 40px;
  & > span {
    color: $blue;
  }
}

.home__items {
  @extend %list-style;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-bottom: 50px;
}

.home__item {
  max-width: 335px;
  & > p {
    color: $almost-gray;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 18px;
  }
  & > ul {
    @extend %list-style;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 8px;
    width: 100%;
    & > li {
      width: 100%;
      & > div {
        cursor: pointer;
        margin-bottom: 14px;
        overflow: hidden;
        border-radius: 8px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        & > img {
          object-fit: cover;
          object-position: center;
          width: 335px;
          transition: transform $time $time-distribution;
          &:hover,
          &:focus {
            transform: scale(1.1);
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
          }
        }
        &::after {
          content: 'quick view';
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: $yellow;
          height: 27%;
          width: 100%;
          border: none;
          cursor: pointer;
          font-family: 'DMSans-500';
          text-transform: uppercase;
          transform: translateY(100%);
          transition: transform $time $time-distribution,
            background $time $time-distribution;
        }
        &:hover::after,
        &:focus::after {
          transform: translateY(0%);
        }
      }
      & > h2 {
        font-size: 16px;
        margin-bottom: 4px;
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      & > span {
        display: block;
        font-family: 'DMSans-400italic';
        font-size: 12px;
        line-height: 1.16;
        color: $almost-gray;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    & > li:not(:first-child) {
      display: none;
    }
  }
  & > button {
    cursor: pointer;
    display: block;
    margin-left: auto;
    font-family: 'DMSans-700';
    background-color: transparent;
    text-transform: uppercase;
    padding: 14px 28px;
    border: 2px solid $blue;
    border-radius: 40px;
    color: inherit;
    transition: color $time $time-distribution,
      background $time $time-distribution;
    &:hover,
    &:focus {
      color: $white;
      background-color: $blue;
      box-shadow: inset 0 0 40px #4f2ee8;
    }
  }
  @media screen and (min-width: 577px) and (max-width: 780px) {
    max-width: 100%;
    & > ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 20px;
      & li:nth-child(-n + 2) {
        display: block;
        width: 218px;
        & > div {
          width: 218px;
          height: 316px;
          & > img {
            width: 218px;
            height: 316px;
          }
        }
      }
    }
  }
  @media screen and (min-width: 780px) and (max-width: 892px) {
    max-width: 100%;
    & > ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 20px;
      & li:nth-child(-n + 3) {
        display: block;
        width: 218px;
        & > div {
          width: 218px;
          height: 316px;
          & > img {
            width: 218px;
            height: 316px;
          }
        }
      }
    }
  }
  @media screen and (min-width: 892px) and (max-width: 1031px) {
    max-width: 100%;
    & > ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 32px;
      & > li:nth-child(-n + 4) {
        display: block;
        width: 180px;
        & > div {
          width: 180px;
          height: 265px;
          & > img {
            width: 180px;
            height: 265px;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1031px) and (max-width: 1250px) {
    max-width: 100%;
    & > ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 32px;
      & > li:nth-child(-n + 3) {
        display: block;
        width: 180px;
        & > div {
          width: 180px;
          height: 265px;
          & > img {
            width: 180px;
            height: 265px;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1250px) and (max-width: 1450px) {
    max-width: 100%;
    & > ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 32px;
      & > li:nth-child(-n + 4) {
        display: block;
        width: 180px;
        & > div {
          width: 180px;
          height: 265px;
          & > img {
            width: 180px;
            height: 265px;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1450px) {
    max-width: 100%;
    & > ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 32px;
      & > li:nth-child(-n + 5) {
        display: block;
        width: 180px;
        & > div {
          width: 180px;
          height: 265px;
          & > img {
            width: 180px;
            height: 265px;
          }
        }
      }
    }
  }
}

.home__items.home__items-category {
  @include breakpoint(tab) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px 25px;

    flex-wrap: wrap;
  }
  @include breakpoint(des) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 24px;
  }
}

.home__item-category {
  max-width: 335px;
  & > div {
    cursor: pointer;
    margin-bottom: 14px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    & > img {
      object-fit: cover;
      object-position: center;
      width: 335px;
    }
    &::after {
      content: 'quick view';
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: $yellow;
      height: 27%;
      width: 100%;
      border: none;
      cursor: pointer;
      font-family: 'DMSans-500';
      text-transform: uppercase;
      transform: translateY(100%);
      transition: transform $time $time-distribution,
        background $time $time-distribution;
    }
    &:hover::after,
    &:focus::after {
      transform: translateY(0%);
    }
  }
  & > h2 {
    font-size: 16px;
    margin-bottom: 4px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  & > span {
    display: block;
    font-family: 'DMSans-400italic';
    font-size: 12px;
    line-height: 1.16;
    color: $almost-gray;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  @include breakpoint(tab) {
    width: 218px;

    & > div {
      width: 218px;
      height: 316px;
      & > img {
        width: 218px;
        height: 316px;
      }
    }
  }
  @include breakpoint(des) {
    width: 180px;
    & > div {
      width: 180px;
      height: 265px;
      & > img {
        width: 180px;
        height: 265px;
      }
    }
  }
}

.home__item > ul > li:nth-child(-n + 5) > div > .img__cap {
  width: 58px;
  height: 50px;
}

.home__item-category > div > .img__cap {
  width: 58px;
  height: 50px;
}
