.loader__overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: hsla(0, 3%, 70%, 0.7);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.loader-circle-2 {
  position: relative;
  width: 70px;
  height: 70px;
  display: inline-block;
}
.loader-circle-2:before,
.loader-circle-2:after {
  content: '';
  display: block;
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
}
.loader-circle-2:before {
  width: 70px;
  height: 70px;
  border-bottom-color: $blue;
  border-right-color: $blue;
  border-top-color: transparent;
  border-left-color: transparent;
  animation: loader-circle-2-animation-2 1s linear infinite;
}
.loader-circle-2:after {
  width: 40px;
  height: 40px;
  border-bottom-color: $yellow;
  border-right-color: $yellow;
  border-top-color: transparent;
  border-left-color: transparent;
  top: 22%;
  left: 22%;
  animation: loader-circle-2-animation 0.85s linear infinite;
}
@keyframes loader-circle-2-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes loader-circle-2-animation-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader__overlay.on-loader {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
