.body-owerflow-hidden {
  overflow: hidden !important;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.4);
  z-index: 999;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(1.5);
  transition: opacity $time $time-distribution,
    visibility $time $time-distribution, transform $time $time-distribution;
}

.backdrop.backdrop-visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: scale(1);
}

.modal-window {
  color: $black;
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  padding: 40px 24px;
  max-height: 85vh;
  background: $white;
  border: 2px solid $black;
  border-radius: 18px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  transition-duration: $time;
  transition-timing-function: $time-distribution;
  @include breakpoint(tab) {
    max-width: 579px;
    padding: 40px;
  }
  @include breakpoint(des) {
    max-width: 579px;
    padding: 40px 40px;
  }
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #d8d8d85e;
  }

  &::-webkit-scrollbar-thumb {
    // background-color: #000000;
    border-radius: 12px;
    background-color: #aaa7a7;
    &:hover {
      background-color: #8f8f8f;
    }
  }
}

.black-theme-modal-window {
  border: 2px solid $white;
  background: $gray;
  color: $white;
}

.close-icon-button {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint(tab) {
    width: 28px;
    height: 28px;
  }
  @include breakpoint(des) {
    width: 28px;
    height: 28px;
  }
}

.close-icon {
  width: 14px;
  height: 14px;
  transition-duration: $time;
  transition-timing-function: $time-distribution;
  @include breakpoint(tab) {
    width: 16px;
    height: 16px;
  }
  @include breakpoint(des) {
    width: 16px;
    height: 16px;
  }
}

.black-theme-close-icon {
  fill: $white;
}

.close-icon:hover {
  fill: $blue;
  // transform: rotate(360deg); ANIMATION
  // transition-duration: 1s;
}

.close-icon:focus {
  fill: $blue;
  // transform: rotate(360deg); ANIMATION
  // transition-duration: 1s;
}

.modal-window-content-align {
  display: flex;
  flex-direction: column;
  @include breakpoint(tab) {
    flex-direction: row;
    margin-bottom: 40px;
    gap: 24px;
  }
  @include breakpoint(des) {
    flex-direction: row;
    margin-bottom: 40px;
    gap: 24px;
  }
}

.book-content-align {
  display: flex;
  flex-direction: column;
}

.book-image {
  transition-duration: $time;
  transition-timing-function: $time-distribution;
  width: 287px;
  height: 408px;
  margin-bottom: 14px;
  border-radius: 8px;
  @include breakpoint(tab) {
    width: 192px;
    height: 281px;
    margin: 0 0;
  }
  @include breakpoint(des) {
    width: 192px;
    height: 281px;
    margin: 0 0;
  }
}

.book-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  margin-bottom: 4px;
  @include breakpoint(tab) {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1.17;
  }
  @include breakpoint(des) {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1.17;
  }
}

.book-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: $almost-gray;
  margin-bottom: 18px;
  @include breakpoint(tab) {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.29;
  }
  @include breakpoint(des) {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.book-description {
  font-family: 'DMSans-400';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.04em;
  margin-bottom: 14px;
  @include breakpoint(tab) {
    margin-bottom: 20px;
  }
  @include breakpoint(des) {
    margin-bottom: 20px;
  }
}

.logo-align {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  filter: grayscale(1);
  margin: 0 0;
}

.logo:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15)) grayscale(1);
}

.black-theme-amazon-logo {
  filter: grayscale(1) brightness(1000%);
}

.black-theme-amazon-logo:hover {
  filter: grayscale(1) brightness(1000%);
}

.buttons {
  @include breakpoint(tab) {
    max-width: 579px;
    flex-direction: column;
  }
  @include breakpoint(des) {
    max-width: 579px;
    flex-direction: column;
  }
}

.add-book-button {
  display: block;
  padding: 14px 0px;
  width: 100%;
  border: 2px solid $blue;
  border-radius: 40px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.33;
  background-color: $white;
  margin: 0 auto;
  transition-duration: $time;
  transition-timing-function: $time-distribution;
  @include breakpoint(tab) {
    padding: 20px 0px;
    font-size: 18px;
  }
  @include breakpoint(des) {
    padding: 20px 0px;
    font-size: 18px;
  }
}

.add-book-button:hover {
  background: $blue;
  color: $white;
}

.add-book-button:focus {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
  background: $blue;
  color: $white;
}

.black-theme-add-book-button {
  color: $white;
  background-color: $gray;
}

.black-theme-add-book-button:hover {
  color: $white;
  background-color: $blue;
}

.black-theme-add-book-button:focus {
  color: $white;
  background-color: $blue;
}

.add-book-button-none {
  display: none;
}

.remove-book-container {
  display: none;
}

.remove-book-container-visible {
  display: flex;
  flex-direction: column;
}

.remove-book-button {
  display: block;
  padding: 14px 0px;
  width: 100%;
  border: 2px solid $blue;
  border-radius: 40px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.33;
  background-color: $white;
  margin-bottom: 8px;
  transition-duration: $time;
  transition-timing-function: $time-distribution;
  @include breakpoint(tab) {
    padding: 20px 100px;
    font-size: 18px;
  }
  @include breakpoint(des) {
    padding: 20px 100px;
    font-size: 18px;
  }
}

.remove-book-button:hover {
  background: $blue;
  color: $white;
}

.remove-book-button:focus {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
  background: $blue;
  color: $white;
}

.black-theme-remove-book-button {
  color: $white;
  background-color: $gray;
}

.black-theme-remove-book-button:hover {
  color: $white;
  background-color: $blue;
}

.black-theme-remove-book-button:focus {
  color: $white;
  background-color: $blue;
}

.remove-book-text {
  display: block;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: rgba(17, 17, 17, 0.5);
  text-align: center;
  margin: 0 auto;
  max-width: 242px;
  @include breakpoint(tab) {
    max-width: 324px;
    font-size: 12px;
    line-height: 1.17;
  }
  @include breakpoint(des) {
    max-width: 324px;
    font-size: 12px;
    line-height: 1.17;
  }
}

.black-theme-remove-book-text {
  color: rgba(255, 255, 255, 0.5);
}
