ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.shopping-list {
  @include breakpoint(tab) {
    //padding: 40px 32px;
  }
  @include breakpoint(des) {
    //padding: 40px 24px 40px 0;
  }
  &-item {
    display: flex;
    gap: 14px;
    height: 170px;
    width: 100%;
    padding: 14px;
    border: 2px solid rgba(79, 46, 232, 0.4);
    border-radius: 16px;
    box-shadow: inset 0 0 0 rgba($blue, 0.02);
    transition: all 0.3s ease-in-out;

      &:hover {
        box-shadow: inset 0 0 150px rgba($blue, 0.4);
       }
    @include breakpoint(tab) {
      gap: 24px;
      height: 213px;
      padding: 24px;
    }
    @include breakpoint(des) {
      gap: 24px;
      height: 213px;
      padding: 24px;
    }

    & .book_image {
      width: 100px;
      height: 100%;
      @include breakpoint(tab) {
        width: 116px;
      }
      @include breakpoint(des) {
        width: 116px;
      }
    }
    &-action {
      display: flex;
      justify-content: space-between;
    }
    &-buy {
      display: flex;
      justify-content: space-between;
      align-items: end;
      gap: 2px;
    }
  }
  .page-title {
    font-family: 'DMSans-700';
    font-size: 32px;
    line-height: 1.18;
    letter-spacing: -0.04em;
    margin-bottom: 40px;
    color: $black;
    & span {
      color: $blue;
    }
    @include breakpoint(tab) {
      font-size: 48px;
      line-height: 1.08;
    }
    @include breakpoint(des) {
      font-size: 48px;
      line-height: 1.08;
    }
  }
  &-empty {
    width: 265px;
    margin: 0 auto;
    & p {
      margin-top: 120px;
      text-align: center;
      font-family: 'DM Sans';
      font-weight: 400;
      font-size: 14px;
      line-height: 1.28;
      letter-spacing: -0.02em;
      color: rgba(0, 0, 0, 0.6);
      @include breakpoint(tab) {
        font-size: 18px;
        line-height: 1.33;
      }
      @include breakpoint(des) {
        font-size: 18px;
        line-height: 1.33;
      }
    }
  }
  .gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    .book {
      &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
      }
      &-tittle {
        font-family: 'DM Sans';
        font-size: 16px;
        line-height: 1.12;
        letter-spacing: -0.04em;
        margin-bottom: 4px;
      }
    }
    h3 {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: pre-wrap;
    }
    .list-name {
      font-family: 'DM Sans';
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.03em;
      color: $almost-gray;
      margin-bottom: 8px;
      @include breakpoint(tab) {
        margin-bottom: 14px;
      }
      @include breakpoint(des) {
        margin-bottom: 14px;
      }
    }
    .shopping-delete-button {
      border-radius: 50%;
      width: 28px;
      min-width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: $blue;
      border: none;
      transition: all 0.3s ease-in-out;
        &:hover {
         color: $black;
         box-shadow: inset 0 0 40px rgba($yellow, 1);
         .basket {
            filter: invert(1);
           }
        }
    }
    .basket {
        transition: all 0.3s ease-in-out;
      width: 16px;
      height: 16px;
    }

    .description {
      font-family: 'DM Sans';
      font-size: 14px;
      line-height: 1.28;
      letter-spacing: -0.04em;
      color: $black;
      &-info {
        overflow: hidden;
        & p {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          white-space: pre-wrap;
        }
      }
    }

    .author {
      max-width: 17.5vw;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: pre-wrap;
      font-family: 'DM Sans';
      font-style: italic;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: -0.04em;
      color: $almost-gray;
      @include breakpoint(tab) {
        -webkit-line-clamp: 1;
        max-width: none;
      }
      @include breakpoint(des) {
        -webkit-line-clamp: 1;
        max-width: none;
      }
    }
    .list-buy {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .link-amazon {
      width: 32px;
      height: 11px;
      filter: grayscale(1);
      transition: filter $time $time-distribution;
      @include breakpoint(tab) {
        width: 48px;
        height: 15px;
        transition: filter $time $time-distribution;
      }
      @include breakpoint(des) {
        width: 48px;
        height: 15px;
        transition: filter $time $time-distribution;
      }
    }
    .link-amazon:hover,
    .link-amazon:focus {
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15)) grayscale(1);
    }
    .link-applebooks {
      width: 16px;
      height: 16px;
      filter: grayscale(1);

      @include breakpoint(tab) {
        width: 28px;
        height: 27px;
      }
      @include breakpoint(des) {
        width: 28px;
        height: 27px;
      }
    }
    .link-applebooks:hover,
    .link-applebooks:focus {
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15)) grayscale(1);
    }
    .link-bookshop {
      width: 16px;
      height: 16px;
      filter: grayscale(1);
      @include breakpoint(tab) {
        width: 32px;
        height: 30px;
      }
      @include breakpoint(des) {
        width: 32px;
        height: 30px;
      }
    }
    .link-bookshop:hover,
    .link-bookshop:focus {
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15)) grayscale(1);
    }
  }
}

// === PAGINATION ===

.pagination {
  padding-top: 20px;
  &-visible {
    display: block;
  }
  &-hidden {
    display: none;
  }
}

.tui-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  @include breakpoint(mob) {
    gap: 8px;
  }
}

.tui-page-btn {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 $yellow;
  transition: all 0.3s ease-in-out;
  &:hover:not(.tui-is-selected):not(.tui-is-disabled):not(.tui-first):not(
      .tui-prev
    ):not(.tui-next):not(.tui-last) {
    box-shadow: inset 0 0 50px $yellow;
  }
  &:focus:not(.tui-is-selected):not(.tui-is-disabled):not(.tui-first):not(
      .tui-prev
    ):not(.tui-next):not(.tui-last) {
    box-shadow: inset 0 0 50px $yellow;
  }
  @include breakpoint(mob) {
    width: 38px;
    height: 38px;
  }
  @include breakpoint(tab) {
    width: 44px;
    height: 44px;
  }
  @include breakpoint(des) {
    width: 44px;
    height: 44px;
  }

  svg {
    width: 14px;
    height: 14px;
  }
}
.tui-first,
.tui-prev,
.tui-next,
.tui-last {
  background-color: $yellow;
  box-shadow: inset 0 0 0 $white;
  transition: all 0.3s ease-in-out;

  &.tui-is-disabled {
    background-color: $black;
    svg {
      fill: $almost-gray;
    }
  }
}

.tui-first:hover:not(.tui-is-disabled),
.tui-first:focus:not(.tui-is-disabled),
.tui-prev:hover:not(.tui-is-disabled),
.tui-prev:focus:not(.tui-is-disabled),
.tui-next:hover:not(.tui-is-disabled),
.tui-next:focus:not(.tui-is-disabled),
.tui-last:hover:not(.tui-is-disabled),
.tui-last:focus:not(.tui-is-disabled) {
  box-shadow: inset 0 0 50px $white;
}

.tui-ico-ellip {
  font-size: 20px;
  line-height: 1.1;
}

.tui-is-selected {
  background-color: $black;
  color: $white;
}

.tui-prev {
  margin-right: 9px;
  @include breakpoint(tab) {
    margin-right: 16px;
  }
  @include breakpoint(des) {
    margin-right: 16px;
  }
}

.tui-next {
  margin-left: 9px;
  @include breakpoint(tab) {
    margin-left: 16px;
  }
  @include breakpoint(des) {
    margin-left: 16px;
  }
}

// === DARK MODE ===
body.dark-mode {
  .shopping-list {
    .page-title {
      color: $white;
    }
    &-empty {
      p {
        color: rgba(255, 255, 255, 0.6);
      }
    }
    &-item {
      background-color: $black;
    }
    
    .book-tittle,
    .description {
      color: $white;
    }
    .link-amazon {
      filter: brightness(0) invert(1);
    }
    .link-amazon:hover,
    .link-amazon:focus {
      filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.65)) brightness(0)
        invert(1);
    }
    .link-applebooks:hover,
    .link-applebooks:focus {
      filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.65)) grayscale(1);
    }

    .link-bookshop:hover,
    .link-bookshop:focus {
      filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.65)) grayscale(1);
    }

    .tui-page-btn:not(.tui-first):not(.tui-prev):not(.tui-next):not(.tui-last) {
        border-color: $white;
        color: $white;
      }

      .tui-page-btn.tui-is-selected:not(.tui-first):not(.tui-prev):not(.tui-next):not(.tui-last) {
        color: $black;
        background-color: $white;
      }
      
  }
}
