.support {
    display: flex;
    flex-direction: column;
    height: 352px;
    border-radius: 16px;
    box-shadow: 0px 10px 10px #f5f5f71a;
    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%,
            #4f2ee8 18.03%,
            #ffffff 100%);

    
        max-width: 335px;
        height: 352px;
        padding: 24px 40px 20px;


    @include breakpoint(tab) {
        max-width: none;
        width: 335px;
        height: 472px;
        padding: 24px 40px 14px;
    }

    @include breakpoint(des) {
        width: 356px;
        height: 490px;
        padding: 24px 40px;
    }
}

.wrapper {
    margin-bottom: 40px;

    display: flex;
    gap: 12px;
    align-items: center;
}

.support__title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(32 / 28);
    color: $white;
    @media screen and (min-width: 428px){
        font-size: 28px;
    }
}

.support__emblem {
    fill: $white;
}

.slider {

    overflow: hidden;
    height: 188px;
    margin-bottom: 16px;
    

    @include breakpoint(tab) {
        height: 292px;
        margin-bottom: 32px;
    }

    @include breakpoint(des) {
        height: 292px;
        margin-bottom: 40px;
    }

}

.support__list {
    @extend %list-style;
    display: flex;
    flex-direction: column;
}

.support__btn {
    width: 32px;
    height: 32px;
    
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 50%;
    background-color:$white;
    @media screen and (min-width: 577px) {
            width: 38px;
            height: 38px;
        }
    
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
            transition: 0.2s;
        }
}

.support__btn-icon {
    fill: $blue;
}

.support__list-item {
    display: flex;
    gap: 16px;
    align-items: center;
    height: 32px;
    line-height: calc(18 / 14);
    color: $white;
}

.support__link img {
    width: auto;
    filter: grayscale(100%) invert(50%) brightness(200%);

    &:hover {
            filter: none;
        }
}